body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/fundo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; 
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px; /* Espaçamento entre logo e texto */
}

@media (max-width: 767.98px) { /* Para telas menores que 768px */
  .container-fluid {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      flex-direction: column; /* Empilha logo e texto verticalmente */
  }

  .container-fluid img {
      margin-right: 0; /* Remove a margem quando em coluna */
  }
}